<!--
This file is part of the Meeds project (https://meeds.io/).
Copyright (C) 2020 Meeds Association
contact@meeds.io
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License
along with this program; if not, write to the Free Software Foundation,
Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

-->
<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.listeners.envers.autoRegister">false</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>		
		
		<!-- Show and print nice SQL on stdout -->
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<!-- List of XML mapping files -->
		<mapping resource="mappings/HibernateRealm.hbm.xml" />
		<mapping
			resource="mappings/HibernateIdentityObjectCredentialBinaryValue.hbm.xml" />
		<mapping
			resource="mappings/HibernateIdentityObjectAttributeBinaryValue.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObject.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectCredential.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectCredentialType.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectAttribute.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectType.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectRelationship.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectRelationshipType.hbm.xml" />
		<mapping resource="mappings/HibernateIdentityObjectRelationshipName.hbm.xml" />
	</session-factory>
</hibernate-configuration>
