//put your custom CSS variables here (see variables.less for possible custom CSS variables)

@primaryColor: #3f8487;
@primaryBackground: #f0f0f0;
@secondaryColor: #000000;
@secondaryBackground: #e25d5d;
@tertiaryColor: @secondaryBackground;
@greyColor: #999999;

@primaryColorLight: lighten(@primaryColor, 10%);
@primaryColorLighter: lighten(@primaryColor, 18.5%);
@primaryColorLighterGradientEnd: darken(@primaryColorLighter, 15%);
@primaryDarkerColor: darken(@primaryColor, 10.5%);
@primaryDarkColor: darken(@primaryColor, 15%);
@primaryDarkColorGradientEnd: darken(@primaryColor, 5%);
@primaryDarkerColorGradientEnd: darken(@primaryColor, 15%);

@primaryHoverBackgroundColor: darken(desaturate(spin(@primaryColor, 3.7152), 13.9064), 11.9608);
@btnPrimaryDisableBackground: lighten(desaturate(spin(@primaryColor, 0.0714), 0.6494), 22.7451);

@welcomePagesBackground: @secondaryBackground;

@allPagesPrimaryColor: ~"--allPagesPrimaryColor";
@allPagesPrimaryColorLight: ~"--allPagesPrimaryColorLight";
@allPagesPrimaryColorLighter: ~"--allPagesPrimaryColorLighter";
@allPagesPrimaryColorLighterGradientEnd: ~"--allPagesPrimaryColorLighterGradientEnd";
@allPagesPrimaryDarkerColor: ~"--allPagesPrimaryDarkerColor";
@allPagesPrimaryDarkerColorGradientEnd: ~"--allPagesPrimaryDarkerColorGradientEnd";
@allPagesPrimaryDarkColor: ~"--allPagesPrimaryDarkColor";
@allPagesPrimaryDarkColorGradientEnd: ~"--allPagesPrimaryDarkColorGradientEnd";
@allPagesPrimaryBackground: ~"--allPagesPrimaryBackground";
@allPagesPrimaryDisableBackground: ~"--allPagesBtnPrimaryDisableBackground";
@allPagesBtnPrimaryHoverBackgroundColor: ~"--allPagesBtnPrimaryHoverBackgroundColor";
@allPagesSecondarySkinColor: ~"--allPagesSecondarySkinColor";
@allPagesSecondaryBackground: ~"--allPagesSecondaryBackground";
@allPagesSecondaryColor: ~"--allPagesSecondaryColor";
@allPagesSecondaryColorDark: ~"--allPagesSecondaryColorDark";
@allPagesTertiaryColor: ~"--allPagesTertiaryColor";
@allPagesUiSwitchOnColor: ~"--allPagesUiSwitchOnColor";
@allPageBaseGreyColor: ~"--allPagesBaseGreyColor";
@allPagesQuoteBorder: ~"--allPagesQuoteBorder";
@allPagesWelcomePagesBackground: ~"--allPagesWelcomePagesBackground";

:root {
    @{allPagesPrimaryColor}: @primaryColor;
    @{allPagesPrimaryColorLight}: @primaryColorLight;
    @{allPagesPrimaryColorLighter}: @primaryColorLighter;
    @{allPagesPrimaryColorLighterGradientEnd}: @primaryColorLighterGradientEnd;
    @{allPagesPrimaryDarkerColor}: @primaryDarkerColor;
    @{allPagesPrimaryDarkerColorGradientEnd}: @primaryDarkerColorGradientEnd;
    @{allPagesPrimaryDarkColor}: @primaryDarkColor;
    @{allPagesPrimaryDarkColorGradientEnd}: @primaryDarkColorGradientEnd;
    @{allPagesBtnPrimaryHoverBackgroundColor}: @primaryHoverBackgroundColor;
    @{allPagesPrimaryBackground}: @primaryBackground;
    @{allPagesPrimaryDisableBackground}: @btnPrimaryDisableBackground;
    @{allPagesSecondarySkinColor}: @secondaryBackground;
    @{allPagesSecondaryBackground}: @secondaryBackground;
    @{allPagesSecondaryColor}: @secondaryColor;
    @{allPagesSecondaryColorDark}: darken(@secondaryColor, 15%);
    @{allPagesTertiaryColor}: @tertiaryColor;
    @{allPagesUiSwitchOnColor}: @primaryColor;
    @{allPageBaseGreyColor}: @greyColor ;
    @{allPagesQuoteBorder}: @greyColor ;
    @{allPagesWelcomePagesBackground}: @welcomePagesBackground ;
}
